@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  animation: marquee-left 25s linear infinite;
  width: max-content;
}

@media (max-width: 768px) {
  .marquee {
    animation-duration: 35s;
  }
}
